<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Problem</th>
      <th>Importance</th>
      <th>Comment</th>
      <th>Platform</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user_id %></td>
        <td><%= order.problem_id %></td>
        <td><%= order.importance_id %></td>
        <td><%= order.comment_id %></td>
        <td><%= order.platform_id %></td>
        <td><%= order.status %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
