<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Problem:</strong>
  <%= @order.problem_id %>
</p>

<p>
  <strong>Importance:</strong>
  <%= @order.importance_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @order.comment_id %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @order.platform_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
